<h1>Hello, World</h1>

<form action="#">
    <input type="radio" id="option1" name="Option" value="Option 1">
    <label for="Option 1">Option 1 </label><br>
    <input type="radio" id="option2" name="Option" value="Option 2">
    <label for="Option 2">Option 2 </label><br>
    <input type="radio" id="option3" name="Option" value="Option 3">
    <label for="Option 3">Option 3 </label><br>
    <input type="radio" id="option4" name="Option" value="Option 4">
    <label for="Option 4">Option 4 </label>
    
    <button type="submit">Submit</button>
</form>
